


/*blue - rgba(0,56,101,255)*/
/*red - rgba(174,1,1,255)*/
body {margin:0;}

.main {
  padding: 10% 10%;
  margin-top: 0%;
}

.menu_td
{
  background-color: rgb(0,56,101);
  text-align: center;
}

.menu_div
{  
  background-color: rgb(0,56,101);
  top: 0;
  width: 100%;  
  border-collapse: collapse;  
}


.menu_div a
{  
  display: inline-block;  
  color: #ffffff;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
}



.menu_div a:hover {
  /*background: rgba(174,1,1,255);*/
  color: rgb(255, 255, 255);
  border-bottom: 3px solid #ffffff;
  transition: 1s;
}

.menu_select {
  background: rgba(7, 86, 150, 0.438);
  color: rgb(255, 255, 255);    
  transition: 1s;
}

.img_logo {
  max-width: 100%;
  max-height: 100%;
  margin: 0px 10px;
}

.center {
  text-align: center;
  align-items: center;
}

.left {
  text-align: left;
  align-items: left;
}

.loginbar {   
  color:rgb(255, 255, 255);
  margin: 5px 0px;
  
  border: 0;
  border-style: solid;
  padding: 0px 30px;
}

.loginbar a {
  color: #ffffff;
}

.login_input
{
  border:0;
  background: rgb(255, 233, 233);
  color: black;
  border: 10px;
}

.sign_inout
{
  background: rgb(0, 0, 0);
  border-radius: 5px 5px;
}


.draft_questions_title{
  color: rgb(126, 126, 126);
  border-collapse: collapse;
}


textarea {
  resize: none;
}


.fadein_effect {
  opacity: 0.0;
  transition: all 1s;  
}

.fadein_effect.show {
  opacity: 1;  
}


.slideRightToLeft {
  background-color: #16465616;
  color: white;  
  padding: 10px 20px;
  margin-left: 20%;
  transition: all 1s;  
  font-size: large;
  border-radius: 70px 10px;
}

.slideRightToLeft.show {
  background-color: #164656;
  display: block;
  margin-left: 3%;
}

.has_request_img{
  height:25px;

}
