{% extends 'base_frame.html' %}


{% block head_block %}
{% endblock %}
{% block body_block %}
<p>
    This project aims to provide the service helping students who want to find someone having similar interests and want to study together. To achieve this, NLP(Natural Language Processing) has been applied to the project to prevent zero searching results by calculating similarities with other students. Without applying NLP, it can possibly result in zero if just a few students participate in the match system with different answers. Then, it could limit the usefulness of the system. That explains the reason why NLP has been utilized in the matching system through the way that the current user can seek "most similar" students in the search results.
    to be continued...
</p>
{% endblock %}