{% extends "base_frame.html" %}
{% load main_extras %}

{% block head_block %}
<!-- Head_Block -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    
$(document).ready(function()
{
    {% for dq in draft_questions %}
        $("#Up_{{dq.id}}").click(function()
        {
            $.ajax({
                type: "POST",
                url: "{% url 'main:dashboard' %}",
                data:{
                    qid: '{{dq.id}}',
                    vote: 1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function (data)
                {
                    //console.log(data.msg);
                    $("#result_up{{dq.id}}").html(data.result_up);
                    $("#result_down{{dq.id}}").html(data.result_down);
                    $("#msg{{dq.id}}").html(data.msg);
                    switch(data.result_val)
                    {
                        case 0:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                        case 1:
                            document.getElementById("Up_{{dq.id}}").style.color = "red";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                    }
                },
                failure: function ()
                {
                    console.log("data.result_val");
                }
            });
        });
        $("#Down_{{dq.id}}").click(function()
        {
            $.ajax({
                type: "POST",
                url: "{% url 'main:dashboard' %}",
                data:{
                    qid: '{{dq.id}}',
                    vote: -1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function (data){
                    //console.log(data.msg);
                    $("#result_up{{dq.id}}").html(data.result_up);
                    $("#result_down{{dq.id}}").html(data.result_down);
                    $("#msg{{dq.id}}").html(data.msg);
                    switch(data.result_val)
                    {
                        case 0:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                        case -1:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "red";
                            break;
                    }
                },
                failure: function (){
                }
            });
        });
    {% endfor %}
    $("#menu_db").addClass("menu_select")        
});
</script>

{% endblock %} 



{% block body_block %}

<script>
    // A $( document ).ready() block.
    $( document ).ready(function() 
    {
        setTimeout(function() {
            $(".slideRightToLeft").addClass('show');
        }, 100);
        let hi_sen = ["It's gonna be fine.","Keep a stiff upper lip.","Give yourself some time.","Let me help you find your soul.","You can do it!"," Do you feel studying is hard?","Are you facing difficult problems?","Chin up!!"];
        let index = Math.floor(Math.random() * hi_sen.length);
        
        $("#hi_msg").html("Study Mates Finder - " + hi_sen[index]);
        let bc = ["#121352","#c9c7c9","#ff9b0f","#024a3f"];
        let fc = ["#d8d8f0","#47273a","#4a2d04","#d3f5f0"];
        

        index = Math.floor(Math.random() * fc.length);
        $("#hi_div").css("color",fc[index])
        $("#hi_div").css("background",bc[index])
        
    });
</script>

<style>
    .vote_button{
        color:black;
        width: 55px;
    }
</style>

<div id="hi_div" class="slideRightToLeft"><span id="hi_msg"></span></div>

<div class="div_type1">
<h2>Draft Questions - Registered by users</h2>
{% if not draft_questions %}
No questions yet. Regular users can register customized questions.
{% endif %}
{% for q in draft_questions %}    
<fieldset class="draft_questions_title"> <!-- for making a group -->
    
    <legend id="legend_{{q.id}}" class="draft_questions_body">{{ forloop.counter }}. {{ q.title }}</legend>
    {% for c in q.choice_set.all %}
        <input type="{{q.ctrl_type}}" disabled>
        <label disabled>{{c.choice_text}} </label>
        {% if q.choice_set.all.count > 3 %}
            <br>
        {% endif %}
    {% endfor %}
    {% if 'tbq' == q.type %}
        <textarea name="text_ans{{q.id}}" " rows="4" cols="50" disabled></textarea><br>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        <input type="button" value="Up" id="Up_{{q.id}}" class="vote_button"/>
        <input type="button" value="Down" id="Down_{{q.id}}" class="vote_button"/>
        {% if my_vote|get_val_in_dict:q.id == 1 %}
        <script>document.getElementById("Up_{{q.id}}").style.color = "red";</script>
        {% endif %}
        {% if my_vote|get_val_in_dict:q.id == 0 %}
        <script>document.getElementById("Up_{{q.id}}").style.color = "black";</script>
        <script>document.getElementById("Down_{{q.id}}").style.color = "black";</script>
        {% endif %}
        {% if my_vote|get_val_in_dict:q.id == -1 %}
        <script>document.getElementById("Down_{{q.id}}").style.color = "red";</script>
        {% endif %}
    {% endif %}
    <label>Up: </label>
    <label id="result_up{{q.id}}">{{up_vote_count|get_val_in_dict:q.id}}</label>    
    /
    <label>Down:</label>
    <label id="result_down{{q.id}}">{{down_vote_count|get_val_in_dict:q.id}}</label>
    <br><label id="msg{{q.id}}"></label>
</fieldset><br>
{% endfor %}
<br>
</div>
<div class="div_type2">
<h2>Data Monitoring&ltFor Admin&gt</h2>

{% if questions %}
    <p><b>Questions: {{questions.count}}</b></p>
    <ul>
        {% for q in questions %}        
        <li>{{q.title}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No questions are available</p>
{% endif %}

{% if profiles %}
    <p><b>Users: {{profile_len}}</b></p>
    <ul>
        {% for p in profiles %}
        <li>{{p.user.username}} / admin: {{p.admin}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users are available</p>
{% endif %}

{% if answers %}
    <p><b>Answers: {{answers.count}}</b></p>
    {% for a in answers %}
    {{a.profile.user.username}} / Q) {{questions|first_in_queryset:a.question_id}} / 
    A)
    {% if a.choice_id != -1 %}        
        {{choices|first_in_queryset:a.choice_id}}
    {% else %}
        {{a.answer_text}}
    {% endif %}    
    <br>
    {% endfor %}
{% else %}
    <p>No answers are available</p>
{% endif %}
</div>
<h2>Similarity Test &ltFor Admin&gt</h2>
<p>Fill out texts below to calculate similarities</p>
<form action="{% url 'main:dashboard' %}" method="post">
    {% csrf_token %}
    <p><label for="html">Q) Sentence1: (Enter any sentences below)</label></p>
    <p><textarea name="sen1" id="sen1" rows="2" cols="50"></textarea></p>
    <p><label for="html">Q) Sentence2: (Enter any sentences below)</label></p>
    <p><textarea name="sen2" id="sen2" rows="2" cols="50"></textarea></p>    
    <input type="submit" name="compare" value="Compare">
</form>
<span>Similarity: {{compare_result}}</span>

{{test_msg}}
{% endblock %} 