
{% extends 'base_frame.html' %}

{% load main_extras %}

{% block body_block %}
<form action="{% url 'main:data_management' %}" method="post">
{% csrf_token %}
<label for="userId">User ID:</label>
<input type="text" name="userId" id="userId" value={{last_user}} >
<input type="submit" name="Save" value="Save">
<input type="submit" name="Load" value="Load">

<p>{{message}}</p>

{% for q in questions %}

<input type="hidden" name="question{{q.id}}" value="{{q.id}}" id="question{{q.id}}" >
<fieldset> <!-- for making a group -->
    <legend><h1>{{ q.question_text }}</h1></legend>
    {% for c in q.choice_set.all %}
        {% if answers|dict_val:q.id == c.id %}
            <input type="radio" checked="checked" name="choice{{q.id}}" value="{{ c.id }}" id="choice{{ forloop.counter }}" >
            <label for="choice{{ forloop.counter }}">{{c.choice_text}} ___ {{ c.id }}</label><br>
        {% else %}
            <input type="radio" name="choice{{q.id}}" value="{{ c.id }}" id="choice{{ forloop.counter }}" >
            <label for="choice{{ forloop.counter }}">{{c.choice_text}} ___ {{ c.id }}</label><br>
        {% endif %}

    {% endfor%}
</fieldset>
{% endfor %}

<input type="submit" name="Find" value="Find">
</form>
{% endblock%}