{% extends 'base_frame.html' %}

{% load main_extras %}

{% block body_block %}
<style>
    .q_high{
        color:rgb(225, 1, 1);
    }
    .q_medium{
        color:rgb(25, 110, 206);
    }
    .q_low{
        color:rgb(88, 88, 88);
    }
    .q_frame{
        background-color:rgb(249, 249, 249);
        border: 5px 5px;
        border-radius: 10px; 
        padding: 1%;
    }

    .c_emt{        
        font-weight: bold;
    }
    .c_smt{
        font-weight: normal;
    }
    .c_xor{
        font-weight: normal;
        font-style:italic;
    }
    textarea{
        resize: none;

    }
    
    .col_button{
        width: 20%;
        padding: 5px;
        
    }

</style>
<script>
    let pri_color = {high:"q_high",medium:"q_medium",low:"q_low"}
    let type_color = {emt:"bold",xor:"q_medium",smt:"q_low"}
    $(document).ready(function()
    {
        $("#menu_dmg").addClass("menu_select");
        {% for q in questions %}
            document.getElementById("title_{{q.id}}").classList.add(pri_color["{{q.priority}}"]);
            {% for c in q.choice_set.all %}                
                if("{{q.match_type}}" == 'emt')
                {
                    document.getElementById("choice_{{c.id}}").classList.add('c_emt');
                }
                else if("{{q.match_type}}" == 'xor')
                {
                    document.getElementById("choice_{{c.id}}").classList.add('c_xor');
                }
                else
                {
                    document.getElementById("choice_{{c.id}}").classList.add('c_smt');
                }                                
            {% endfor %}
        {% endfor %}
    });
</script>

<form action="{% url 'main:data_management' %}" method="post">
{% csrf_token %}
{% if user.is_authenticated %}
    <h2>{{message}}</h2>
    <p>
        <b>&lt;Help&gt;</b><br>
        Priority Colour :<span class="q_high">High</span>,<span class='q_medium'>Medium</span>,<span class="q_low">Low</span><br>
        <span class="c_emt">Exact</span> / <span class="c_smt">Smilar</span> / <span class="c_xor">XOR</span>
    </p>

    
    {% for k,v in qs2.items %}
        {% if v %}
        <button class="btn btn-primary col_button" id = "bt_{{k}}" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{k}}">
            {{ category_pair|get_val_in_dict:k  }}</button>
        
        <p>
        <div id="demo{{k}}" class="collapse">
        {% for q in v %}
            <input type="hidden" name="question{{q.id}}" value="{{q.id}}" id="question{{q.id}}" >
            <div class="q_frame">
                <h4 id="title_{{q.id}}">{{ q.title }}</h4>
                {% for c in q.choice_set.all %}
                    <label id="choice_{{c.id}}">
                    {% if answers|get_list_in_dict:q.id|is_val_in_list:c.id == True %}
                        <input type="{{q.ctrl_type}}" checked="checked" name="choice{{q.id}}" value="{{ c.id }}" id="choice{{ forloop.counter }}" >
                    {% else %}
                        <input type="{{q.ctrl_type}}" name="choice{{q.id}}" value="{{ c.id }}" id="choice{{ forloop.counter }}" >
                    {% endif %}
                    {{c.choice_text}}</label>
                {% endfor %}
                {% if 'tbq' == q.type %}
                    <p style="font-style: italic;font-size: small;">{{q.desc}}</p>
                    <textarea name="text_ans{{q.id}}" id="text_ans{{q.id}}" rows="4" cols="50">{{ answers|get_val_in_dict:q.id|get_val_in_list:0}}</textarea>
                {% endif %}
                </div>
            <br>
        {% endfor %}
        </div>
        </p> 
        <script>
            
                $("#demo{{k}}").collapse({
                toggle: true
                });
        </script>
        {% endif %}
    {% endfor %}
    


    {% for q in questions %}
 
    
    {% endfor %}
    <br>
    <input type="submit" name="Save" value="Save Data">
    <input type="submit" name="Find" value="Find Mates">
    </form>

{% else %}
    <p>Login is required for this page.</p>
{% endif %}


{% endblock %} 

