{% extends 'base_frame.html' %}
{% load static %}

{% load main_extras %}

{% block head_block %}
<style>
     .q_high{
        color:rgb(225, 1, 1);
    }
    .q_medium{
        color:rgb(25, 110, 206);
    }
    .q_low{
        color:rgb(88, 88, 88);
    }
    .q_frame{
        background-color:rgb(249, 249, 249);
        border: 5px 5px;
        border-radius: 10px; 
        padding: 1%;
    }

    textarea{
        resize: none;

    }    
    .cat_button{
        width: 20%;
        padding: 5px;        
    }
    .fake-link {
        color:black;
        text-decoration:underline;
        cursor: pointer;
    }

</style>

<script>

    function bar_color(id_bar,id_num,value)
    {
        id_bar = "#" + id_bar;
        id_num = "#" + id_num;

        let per = value;
        $(id_bar).css('width', per+'%');
        $(id_num).html(per + '%');
        if(per < 40){
            $(id_bar).css('background-color', 'rgb(188, 188, 188)');
        }
        else if(per == 100){
            $(id_bar).css('background-color', 'rgb(4, 209, 59)');
        }
        else{
            $(id_bar).css('background-color', 'rgb(1, 120, 33)');
        }
    }

    function qtype_set(id,type)
    {
        if(type == "emt")
        {
            $(id).attr("src","{% static 'equal.png' %}");
            $(id).attr("title","It matches when other users' answers are in common.");
            $(id).css('width',25);
        }
        else if(type == "smt")
        {
            $(id).attr("src","{% static 'apx.png' %}");
            $(id).attr("title","It calculates similarity with other users' answers.");
            $(id).css('width',25);
        }
        else if(type == "xor")
        {            
            $(id).attr("src","{% static 'xor.png' %}");
            $(id).attr("title","It matches only when other users have different answers.");
            $(id).css('width',30);
        }
        
        $(id).css('opacity',0.5);        
    }

    let pri_color = {high:"q_high",medium:"q_medium",low:"q_low"}
    let type_color = {emt:"bold",xor:"q_medium",smt:"q_low"}
    $(document).ready(function()
    {
        setTimeout(function()
        {
            {% for label,per in cat_infos.items %}
                bar_color("per_bar_"+"{{label}}","per_num_"+"{{label}}", "{{per}}");
            {% endfor %}
        },300);


           
        $("#menu_dmg").addClass("menu_select");
        {% for q in questions %}
            document.getElementById("title_{{q.id}}").classList.add(pri_color["{{q.priority}}"]);
        {% endfor %}        
        
        $("#save_btn").click(function(e)
        {
            e.preventDefault();
            var frm = $('#my_form');
            sr_data = frm.serialize();
            
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data:sr_data,
                success: function (data)
                {
                    $("#save_msg").html("Your data successfully have been saved.");
                    setTimeout(function(){$("#save_msg").html("");}, 3000);
                    
                    for(key in data.cat_infos){
                        bar_color("per_bar_"+key,"per_num_"+key, data.cat_infos[key]);                        
                    }
                },
                failure: function ()
                {                    
                }
            });
        });

        $("#find_btn").click(function(e)
        {
            e.preventDefault();
            window.location.href = "{% url 'main:page_search_start' user.username %}";            
        });

        {% for k,v in cat_qs.items %}
            {% for q in v %}            
                {% if q.type == 'scq' %}
                    $("#clear_"+"{{q.pk}}").click(function(e)
                    {
                        {% for c in q.choice_set.all %}
                            $("#q_{{q.pk}}_choice{{ forloop.counter }}").prop('checked', false);
                        {% endfor %}
                    });
                {% endif %}
            {% endfor %}
        {% endfor %}
        
        {% for k,v in cat_qs.items %}
            {% for q in v %}            
                {% if q.type == 'mcq' %}
                    $("#select_all_"+"{{q.pk}}").click(function(e)
                    {
                        {% for c in q.choice_set.all %}
                            $("#q_{{q.pk}}_choice{{ forloop.counter }}").prop('checked', true);
                        {% endfor %}
                    });
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for k,v in cat_qs.items %}
            {% for q in v %}            
                {% if q.type == 'mcq' %}
                    $("#deselect_all_"+"{{q.pk}}").click(function(e)
                    {
                        {% for c in q.choice_set.all %}
                            $("#q_{{q.pk}}_choice{{ forloop.counter }}").prop('checked', false);
                        {% endfor %}
                    });
                {% endif %}
            {% endfor %}
        {% endfor %}
        $('[data-toggle="tooltip"]').tooltip();  
    });
</script>
{% endblock %}

{% block body_block %}




<form id="my_form" action="{% url 'main:page_findmates' %}" method="post">
{% csrf_token %}
{% if user.is_authenticated %}
    <input type="hidden" name="test_name" value="test_value">
    <h2>{{message}}</h2>
    <p>
        <b>&lt;Question Attributes&gt;</b><br>
        Priority Colour :<span class="q_high">High(1)</span>,<span class='q_medium'>Medium(0.66)</span>,<span class="q_low">Low(0.33)</span><br>
    </p>
    <br>
    
    
    {% for label,per in cat_infos.items %}
        <div class="row" style="border-style:solid;border:0;height: 30px;">
            <div align="right"><span class="col-sm-1" style="width: 180px;">{{label}}:</span></div>        
            <div class="progress" class="col-sm-9" style="width:500px">
                <div id="per_bar_{{label}}"class="progress-bar active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                    <span id="per_num_{{label}}">0</span>
                </div>
            </div>
        </div>    
    {% endfor %}

    <br>
    <p>
        <span style="font-weight: bold;">The system uses your answers up to the answers you have finished.</span><br>
        <span>e.g., If you only care about the location for studying, you can answer only questions about it.</span><br>        
    </p><br>
    


    {% for k,v in cat_qs.items %}
        {% if v %}
        <button class="btn btn-primary cat_button" id = "bt_{{k}}" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{k}}">
            {{ category_pair|get_val_in_dict:k  }}({{v|length}})</button>
        <p>
        <div id="demo{{k}}" class="collapse">
        {% for q in v %}            
            <input type="hidden" name="question{{q.pk}}" value="{{q.pk}}" id="question{{q.pk}}" >
            <div class="q_frame">
                <h4 id="title_{{q.pk}}">{{ q.title }} <div class="container" style="float: right;width: 10%;">
                    <img id="qtype_{{q.pk}}">                    
                </div></h4>
                <script>
                    qtype_set("#qtype_{{q.pk}}","{{q.match_type}}");
                </script>
                
                {% if q.desc %}
                <p style="font-style: italic;font-size:95%;">{{q.desc}}</p>
                {% endif %}
                
                {% for c in q.choice_set.all %}
                    <label id="choice_{{c.pk}}" style="font-weight: normal;">
                    {% if answers|get_list_in_dict:q.pk|is_val_in_list:c.pk == True %}
                        <input type="{{q.ctrl_type}}" checked="checked" name="choice{{q.pk}}" value="{{ c.pk }}" id="q_{{q.pk}}_choice{{ forloop.counter }}" >
                    {% else %}
                        <input type="{{q.ctrl_type}}" name="choice{{q.pk}}" value="{{ c.pk }}" id="q_{{q.pk}}_choice{{ forloop.counter }}" >
                    {% endif %}
                    {{c.choice_text}}</label>
                    {% if q.choice_set.all.count > 2 %}
                        <br>
                    {% endif %}
                {% endfor %}
                {% if 'scq' == q.type %}
                        <br>
                        <span class="fake-link" id="clear_{{q.pk}}">Clear Choice</span>
                {% endif %}

                {% if 'mcq' == q.type %}
                <br>
                    <span class="fake-link" id="select_all_{{q.pk}}">Select All Choices</span> | 
                    <span class="fake-link" id="deselect_all_{{q.pk}}">Deselect All Choices</span>
                {% endif %}


                {% if 'tbq' == q.type %}
                    <textarea name="text_ans{{q.pk}}" id="text_ans{{q.pk}}" rows="4" cols="50">{{ answers|get_val_in_dict:q.id|get_val_in_list:0}}</textarea>
                {% endif %}
                </div>
            <br>
        {% endfor %}
        </div>
        </p> 
        {% endif %}
    {% endfor %}
    <br>
    <input type="submit" id="save_btn" name="Save" value="Save Data">
    <input type="submit" id="find_btn" value="Find Mates">
</form>
<span id="save_msg" style="font-weight: bold;"></span>

{% else %}
    <p>Login is required for this page.</p>
{% endif %}


{% endblock %} 

