{% extends "base_frame.html" %}
{% load main_extras %}

{% load static %}
{% block head_block %}
<!-- Head_Block -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
 
 


$(document).ready(function()
{
    {% for dq in draft_questions %}
        $("#Up_{{dq.id}}").click(function()
        {
            $.ajax({
                type: "POST",
                url: "{% url 'main:home' %}",
                data:{
                    qid: '{{dq.id}}',
                    vote: 1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function (data)
                {
                    let result = data.result_up - data.result_down;
                    $("#result_vote{{dq.id}}").html(result);

                    if(result < 0)
                        $("#result_vote{{dq.id}}").css("color","red");
                    else
                        $("#result_vote{{dq.id}}").css("color","black");

                    $("#msg{{dq.id}}").html(data.msg);
                    if(result == "{{target_count}}")
                    {
                        $("#msg{{dq.id}}").html("The questions has been approved.");
                        $("#Up_{{dq.id}}").attr("disabled",true);
                        $("#Down_{{dq.id}}").attr("disabled",true);
                    }
                    else
                    {
                        $("#msg{{dq.id}}").html(data.msg);
                    }
                    
                    setTimeout(function(){
                        $("#msg{{dq.id}}").html("");
                    },1500);

                    switch(data.result_val)
                    {
                        case 0:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                        case 1:
                            document.getElementById("Up_{{dq.id}}").style.color = "red";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                    }
                },
                failure: function ()
                {
                    console.log("data.result_val");
                }
            });
        });
        $("#Down_{{dq.id}}").click(function()
        {
            $.ajax({
                type: "POST",
                url: "{% url 'main:home' %}",
                data:{
                    qid: '{{dq.id}}',
                    vote: -1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function (data){

                    let result = data.result_up - data.result_down;
                    $("#result_vote{{dq.id}}").html(result);
                    if(result < 0)
                        $("#result_vote{{dq.id}}").css("color","red");
                    else
                        $("#result_vote{{dq.id}}").css("color","black");

                    $("#msg{{dq.id}}").html(data.msg);
                    setTimeout(function(){
                        $("#msg{{dq.id}}").html("");
                    },1500);
                    switch(data.result_val)
                    {
                        case 0:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "black";
                            break;
                        case -1:
                            document.getElementById("Up_{{dq.id}}").style.color = "black";
                            document.getElementById("Down_{{dq.id}}").style.color = "red";
                            break;
                    }
                },
                failure: function (){
                }
            });
        });
    {% endfor %}
    $("#menu_db").addClass("menu_select")        
});
</script>
{% endblock %} 

{% block body_block_no_pad %}



<script>
    // A $( document ).ready() block.
    $( document ).ready(function() 
    {        
        setTimeout(function() {
            $(".fadein_effect").addClass('show');
        }, 100);
    });
</script>

<style>
    .vote_button{
        color:black;
        width: 55px;
    }
    *{
    box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
    float: left;  
    padding: 10px;    
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    p.intro_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 300%;
        font-weight: bold;
    }
    p.intro_body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        font-weight: bold;
        color: rgb(124, 124, 124);
    }
    p.intro_body_small{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: bold;
        color: rgb(179, 179, 179);
    }
    .intro{
        background-color: rgb(248, 248, 248);
        height: 250px;
    }
    .stranger{
        background-color: rgb(8,84,116);
        height: 200px;
    }
    .body_content
    {
        height: 200px;        
    }
    p.body_title{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        font-weight: bold;
    }
    p.body_content{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: bold;
        color: rgb(124, 124, 124);
    }

    p.draft_title{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
        font-weight: bold;
    }
    .fadein_effect {        
        opacity: 0.5;
        transition: all 10s;
    }        
    .fadein_effect.show 
    {
        opacity: 1;
    }



</style>

<table style="width: 100%;">
    <th></th>
    <tr style="height: 200px;"> <!-- Intro -->
        <td  style="width:20%;background-color: rgb(248, 248, 248)">            
        </td>
        <td style="background-repeat: no-repeat;width:75%;background-color: rgb(248, 248, 248);background-image:url({% static 'image/bg2.png' %});">
            <p class="intro_title">Let's enjoy studying together.</p>
            <p class="intro_body">
                We believe you will find soulmates for your study.<br><br>
                <div align="right">
                    <p class="intro_body_small">
                        Keep your data up to date.
                    </p>
                </div>
            </p>
        </td>
        <td  style="width:5%;background-color: rgb(248, 248, 248);">
        </td>
    </tr>
    
    <tr style="height: 250px;">        
        <td style="width:20%;background-color: rgb(81, 0, 0);">            
        </td>
        <td  style="width:60%;background-color:rgb(3, 50, 70);">
            <table>
                <tr>
                    <td> 
                        <img src="{% static 'image/king_george_bridge2.png'%}" style="height:250;">                       
                    </td>                        
                    <td>
                        <img src="{% static 'image/city_centre.png'%}" style="height:250;">                        
                    </td>
                    <td>
                        <img class="fadein_effect" style="height:250" src="{% static 'image/no_stranger.png'%}">
                    </td>
                    
                </tr>
            </table>
        </td>
        <td  style="width:20%;background-color:rgb(3, 50, 70);">            
        </td>
    </tr>
        <td  style="width:20%;background-color: rgb(255, 255, 255);">
        </td>
        <td  style="width:60%;background-color: rgb(255, 255, 255);padding-top: 50;">
            <p class="draft_title">Draft Questions - Submitted by users</p>
            {% if not draft_questions %}
                No questions yet. Regular users can submit customized questions.
            {% endif %}
            {% for q in draft_questions %}
                <fieldset class="draft_questions_title">     
                <legend id="legend_{{q.id}}" style="width:700px">{{ forloop.counter }}. {{ q.title }}</legend>
                {% for c in q.choice_set.all %}
                    <input type="{{q.ctrl_type}}" disabled>
                    <label disabled>{{c.choice_text}} </label>
                    {% if q.choice_set.all.count > 3 %}
                        <br>
                    {% endif %}
                {% endfor %}
                {% if 'tbq' == q.type %}
                    <textarea name="text_ans{{q.id}}" " rows="4" cols="50" disabled></textarea><br>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                    <input type="button" value="Up" id="Up_{{q.id}}" class="vote_button"/>
                    <input type="button" value="Down" id="Down_{{q.id}}" class="vote_button"/>                    
                    {% if my_vote|get_val_in_dict:q.id == 1 %}
                    <script>document.getElementById("Up_{{q.id}}").style.color = "red";</script>
                    {% endif %}
                    {% if my_vote|get_val_in_dict:q.id == 0 %}
                    <script>document.getElementById("Up_{{q.id}}").style.color = "black";</script>
                    <script>document.getElementById("Down_{{q.id}}").style.color = "black";</script>
                    {% endif %}
                    {% if my_vote|get_val_in_dict:q.id == -1 %}
                    <script>document.getElementById("Down_{{q.id}}").style.color = "red";</script>
                    {% endif %}
                {% endif %}

                <!--
                <span id="result_up{{q.id}}">{{up_vote_count|get_val_in_dict:q.id}}</span>    
                /
                <span id="result_down{{q.id}}">{{down_vote_count|get_val_in_dict:q.id}}</span>
                -->
                <span id="result_vote{{q.id}}">0</span>
                <span id="target_vote{{q.id}}">/ {{target_count}} (Target Count)</span>
                <script>
                    let up = "{{up_vote_count|get_val_in_dict:q.id}}"
                    let down = "{{down_vote_count|get_val_in_dict:q.id}}"
                    let result = up-down;
                    $("#result_vote{{q.id}}").html(result);
                    if(result < 0)
                        $("#result_vote{{q.id}}").css("color","red");                    
                </script>
                <br><span id="msg{{q.id}}"></span>                
            </fieldset><br>
            {% endfor %}
            <br>
            <br>
            <br>
{% if user.is_authenticated and is_admin %}
<div style="color: rgb(0, 0, 0);">
<h2>Data Monitoring&ltFor Debugging&gt</h2>
{% if questions %}
    <p><b>Questions: {{questions.count}}</b></p>
    <ul>
        {% for q in questions %}        
        <li>{{q.title}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No questions are available</p>
{% endif %}

{% if profiles %}
    <p><b>User Count: {{profile_len}}</b></p>
    <ul>
        {% for p in profiles %}
        <li>{{p.user.username}} / admin: {{p.admin}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users are available</p>
{% endif %}

{% if answers %}
    <p><b>Answers: {{answers.count}}</b></p>
    {% for a in answers %}
    {{a.profile.user.username}} / Q) {{questions|first_in_queryset:a.question_id}} / 
    A)
    {% if a.choice_id != -1 %}        
        {{choices|first_in_queryset:a.choice_id}}
    {% else %}
        {{a.answer_text}}
    {% endif %}    
    <br>
    {% endfor %}
{% else %}
    <p>No answers are available</p>
{% endif %}
<h2>Similarity Test &ltFor Debugging&gt</h2>
<p>Fill out texts below to calculate similarities</p>
<form action="{% url 'main:home' %}" method="post">
    {% csrf_token %}
    <p><label for="html">Q) Sentence1: (Enter any sentences below)</label></p>
    <p><textarea name="sen1" id="sen1" rows="2" cols="50"></textarea></p>
    <p><label for="html">Q) Sentence2: (Enter any sentences below)</label></p>
    <p><textarea name="sen2" id="sen2" rows="2" cols="50"></textarea></p>    
    <input type="submit" name="compare" value="Compare">
</form>
<span>Similarity: {{compare_result}}</span>

{{test_msg}}
        </td>
        <td  style="width:20%;background-color: rgb(255, 255, 255);">
        </td>
        <tr>
        </tr>
</table>
</div>
{% endif %}
{% endblock %}