{% extends 'base_frame.html' %}

{% load main_extras %}
{% load static %}

{% block head_block %}
<script>
$(document).ready(function()
{
    $("#menu_mates").addClass("menu_select");

    {% for sd in sent %}
        $("#cancel_{{sd.to_pk}}").click(function()
        {
            $.ajax({
                    type: "POST",
                    url: "{% url 'main:page_mymates' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        cmd:"cancel",
                        to_pk: "{{sd.to_pk}}"
                    },
                    success: function (data)
                    {
                        $("#cancel_msg_{{sd.to_pk}}").html("Cancelled");
                        $("#cancel_{{sd.to_pk}}").hide();
                    },
                    failure: function ()
                    {                    
                    }
                });
        });
    {% endfor %}

    {% for rv in rev %}
        $("#acc_{{rv.to_pk}}").click(function()
        {
            $("#img_loading_{{rv.to_pk}}").show();            
            $.ajax({
                    type: "POST",
                    url: "{% url 'main:page_mymates' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        cmd:"accept",
                        to_pk: "{{rv.to_pk}}"
                    },
                    success: function (data)
                    {
                        $("#rev_msg_{{rv.to_pk}}").html("Accepted");
                        $("#rev_but_div_{{rv.to_pk}}").hide();
                        $("#img_loading_{{rv.to_pk}}").hide();
                    },
                    failure: function ()
                    {                    
                    }
                });
        });
    {% endfor %}
    {% for rv in rev %}
        $("#rej_{{rv.to_pk}}").click(function()
        {
            $.ajax({
                    type: "POST",
                    url: "{% url 'main:page_mymates' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        cmd:"reject",
                        to_pk: "{{rv.to_pk}}"
                    },
                    success: function (data)
                    {
                        $("#rev_msg_{{rv.to_pk}}").html("Rejected");
                        $("#rev_but_div_{{rv.to_pk}}").hide();
                        
                    },
                    failure: function ()
                    {                    
                    }
                });
        });
    {% endfor %}

    {% for ac in acc %}
        $("#dis_{{ac.to_pk}}").click(function()
        {
            $.ajax({
                    type: "POST",
                    url: "{% url 'main:page_mymates' %}",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        cmd:"disconnect",
                        to_pk: "{{ac.to_pk}}"
                    },
                    success: function (data)
                    {
                        $("#dis_msg_{{ac.to_pk}}").html("Disconnected");
                        $("#dis_{{ac.to_pk}}").hide();                       
                    },
                    failure: function ()
                    {                    
                    }
                });
        });
    {% endfor %}

});
</script>

{% endblock %}

{% block body_block %}
<style>
    .basic_bg{
        background-color:rgb(249, 249, 249);
        border: 5px 5px;
        border-radius: 10px; 
        padding: 1%;
    }
    .button_width{
        width: 15%;

    }
    .img_new{
        width: 15px;
    }
    .img_loading{
        width: 25px;
        
    }
</style>
<p>
<button class="btn btn-primary button_width" type="button" data-toggle="collapse" data-target="#div_sent">Requested ({{sent|length }})</button>
<div id="div_sent" class="collapse">
{% for sd in sent %}
<div class="basic_bg">
    <p>Date: {{sd.date}} / Time: {{sd.time}}</p>
    {% if sd.msg %}
        <p>{{sd.msg}}</p>
    {% else %}
        <p style="font-style:italic;">No message attached</p>
    {% endif %}
    <p>Match Percent: <span style="font-weight: bold;">{{sd.percent}} %</span></p>
    
    <button id="cancel_{{sd.to_pk}}">Cancel</button>
    <span style="font-style:italic;" id="cancel_msg_{{sd.to_pk}}"></span>
</div><br>
{% endfor %}
</div>
</p>

<p>
<button class="btn btn-primary button_width" type="button" data-toggle="collapse" data-target="#div_rev">Received ({{rev|length }})</button>
<div id="div_rev" class="collapse">
{% for rv in rev %}
<div class="basic_bg">
    <p>
        {% if updates|get_val_in_dict:rv.to_pk %}
            <img class="img_new" src="{% static 'new3.png' %}">
            <span style="font-weight: bold;">New Request</span>
        {% endif %}
        {% if rv.msg %}
            {{rv.msg}}
        {% else %}
            <span style="font-style:italic;">No message attached</span>
        {% endif %}
    </p>
    <p>Match Percent: <span style="font-weight: bold;">{{rv.percent}} %</span></p>

    <p>Date: {{rv.date}} / Time: {{rv.time}}</p>
    <div id="rev_but_div_{{rv.to_pk}}">
        <button id="acc_{{rv.to_pk}}">Accept</button>
        <button id="rej_{{rv.to_pk}}">Reject</button>
        <img id="img_loading_{{rv.to_pk}}" hidden="hidden" class="img_loading" src="{% static 'loading4.gif' %}" >
    </div>
    <span style="font-style:italic;" id="rev_msg_{{rv.to_pk}}"></span>
</div><br>
{% endfor %}
</div>
</p>

<p>
<button class="btn btn-primary button_width" type="button" data-toggle="collapse" data-target="#div_dis">Connected ({{acc|length }})</button>
<div id="div_dis" class="collapse">
{% for ac in acc %}
<div class="basic_bg">
    {% if updates|get_val_in_dict:ac.to_pk %}
        <img class="img_new" src="{% static 'new4.png' %}"><span style="font-weight: bold;">New Mate</span>
    {% endif %}
    <p>Date: {{ac.date}} / Time: {{ac.time}}
    <p>Email: <a href="mailto:{{ac.email}}">{{ac.email}}</a></p>    
    <p>Profile Text: {{ac.profile_text}}</p>

    {% if ac.msg %}
    <p>Message: {{ac.msg}}</p>
    {% endif %}
    <p>Match Percent: <span style="font-weight: bold;">{{ac.percent}} %</span></p>
    
    <button id="dis_{{ac.to_pk}}">Disconnect</button>
    <span style="font-style:italic;" id="dis_msg_{{ac.to_pk}}"></span>
</div><br>
{% endfor %}
</div>
</p>

<script>            
    $("#div_sent").collapse({toggle: true});
    $("#div_rev").collapse({toggle: true});
    $("#div_dis").collapse({toggle: true});
</script>




{% endblock %}
