{% extends 'profile_base.html' %}

{% block profile_base_head_block %}
<script>
    $(document).ready(function()
    {
        $("#menu_account").addClass("menu_select");
        $('#title').html("Update Your SMF Account");

        $('#submit').val("Update");
        $('#username').val("{{username}}");        
        $('#username').prop( "disabled", true );
        $('#email').val("{{email}}");
        $('#pf_text').val("{{pf_text}}");        
        $('#pf_text_open').prop('checked', "{{pf_text_open}}" == "True");

        $('#pw').hide();
        $('#pw_confirm').hide();
        $('#lb_pw').hide();
        $('#lb_pw_confirm').hide();       


        $('#submit').click(function()
        {
            $('#result').html('');
            if(check_validity(['username','email']) == false)
               return;

            $.ajax({
                type: "POST",
                url: "{% url 'main:page_myaccount' %}",
                data:
                {                    
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    cmd: "update",
                    username: $('#username').val(),
                    password: $('#pw').val(),
                    email: $('#email').val(),
                    pf_text: $('#pf_text').val(),
                    pf_text_open: $('#pf_text_open').is(':checked'),
                    dataType: "json",
                },
                success: function (data)
                {
                    if(data.msg)
                    {
                        $('#result').html(data.msg);
                    }
                },
                failure: function ()
                {

                }
            });            
        });

        $('#acc_del_confirm').click(function()
        {            
            $.ajax({                
                type: "POST",
                url: "{% url 'main:page_myaccount' %}",
                data:
                {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    cmd: "del_account",
                    acc_del_msg: $('#acc_del_msg').val()
                },
                success: function (data)
                {
                    if(data.result)
                    {
                        $('#acc_del_result').html('Your account has been successfully deleted.');
                        setTimeout(function(){
                            window.location.href = "{% url 'main:home'  %}";                                
                            },2000);
                    }
                    else
                    {
                        $('#acc_del_result').html('Delete confirm message is incorrect.');
                    }
                },
                failure: function ()
                {
                }
            });
        });
    });
</script>
{% endblock %}

{% block profile_end_block %} 

<input id="delete" type="submit" value="Delete Account" data-toggle="collapse" data-target="#div_del"/>
<div id="div_del" class="collapse">
    <br>
    <div><input id="acc_del_msg" name="acc_del_msg" placeholder="Type 'Delete' and confirm" type="text" class="form-control" name="text_del_confirm" ></div>
    <input id="acc_del_confirm" type="submit" value="Confirm"> &nbsp
    <span id="acc_del_result"></span>
    
</div>



{% endblock %}