{% extends 'base_frame.html' %}

{% block head_block %}
<script>
    function is_empty(id)
    {
        if($('#'+id).val() == "")
            return true;
        return false;
    }
    function check_validity(ctrl_ids)
    {        
        for(i in ctrl_ids)
        {
            let label = document.getElementById("lb_" + ctrl_ids[i]).innerText;
            
            if(is_empty(ctrl_ids[i]))
            {
                $('#result').html(label + " field is empty.");
                return false;
            }
        }
        
        //password confirming 
        if($('#pw').val() != $('#pw_confirm').val()){
            $('#result').html("Not identical - Please check your Password and Password Confirm frields");
            return false;
        }
        return true;
    }    
 
</script>

{% block profile_base_head_block %}
{% endblock %}
{% endblock %}


{% block body_block %}
<h1>{% block profile_title_block %} {% endblock %}</h1>

{% block profile_front_block %} {% endblock %}

<style>
    .reg_tr
    {
        height: 40px;
        color: rgb(0, 0, 0);        
    }
    .reg_lb
    {
        text-align: right;
    }    
</style>
<form id="user_form" method="post" action="{% url 'main:registration' %}" encryption="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
</form>

<table style="background-color: rgb(243, 243, 243);">
    <tr class="reg_tr">
        <td class="reg_lb"><span id="lb_username">User name</span></td>
        <td>&nbsp</td>
        <td><input type="text" id="username"></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb"><span id="lb_pw">Password</span></td><td>&nbsp</td><td><input type="password" id="pw"></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb"><span id="lb_pw_confirm">Password Confirm</span></td><td>&nbsp</td><td><input type="password" id="pw_confirm"></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb"><span id="lb_email">Email Address</span></td><td>&nbsp</td><td><input type="email" id="email"></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb">Profile Texts</span></td> <td>&nbsp</td> <td><textarea id="pf_text" rows="4" cols="50" ></textarea></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb"></td> <td>&nbsp</td><td><span style="font-size: small;">* (Recommended) Anything you want to say to other users. <br>Your Profile texts contribute to Natural Language Processing for accurate match results.</span></td>
    </tr>
    <tr class="reg_tr">
        <td class="reg_lb">Open Profile Texts In Search</td> <td>&nbsp</td><td> <input type="checkbox" id="pf_text_open" >
            <span style="font-size: small;">* It is recommended being checked that other users can see the profile texts </span></td>
    </tr>    
</table>
<br>

<input id="submit" type="submit" name="submit" />
<span id="result" />

{% endblock %}