{% extends 'base_frame.html' %}

{% block head_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    function is_empty(id)
    {
        if($('#'+id).val() == "")
            return true;
        return false;
    }
    function check_validity(ctrl_ids)
    {        
        for(i in ctrl_ids)
        {
            let label = document.getElementById("lb_" + ctrl_ids[i]).innerText;
            
            if(is_empty(ctrl_ids[i]))
            {
                $('#result').html(label + " field is empty.");
                return false;
            }
        }
        
        //password confirming 
        if($('#pw').val() != $('#pw_confirm').val()){
            $('#result').html("Not identical - Please check your Password and Password Confirm frields");
            return false;
        }
        return true;
    }    
 
</script>

{% block profile_base_head_block %}
{% endblock %}
{% endblock %}


{% block body_block %}
<h1>{% block profile_title_block %} {% endblock %}</h1>

{% block profile_front_block %} {% endblock %}

<style>
    .div_body
    {
        padding-left: 10%;
    }
    .div_body table{
        border: 0;
        border-style:solid;
        width: 700px;        
    }
    .div_body td{
        border: 0;
        border-style:solid;
        padding-top: 5;
        padding-bottom: 5;
        padding-right: 5;
    }
    .div_body tr{
        border: 0;
        border-style:solid;        
    }

    
</style>
<div class="div_body">
    <table>
        <tr>
            <td></td>
            <td class="center"><h3 id="title">Title</h3><hr></td>
        </tr>
        <div class="form-group" style="width:90%">
        <tr>
            <td style="width: 40%;"><div align="right"><label id="lb_username">Username:</label></div></td>
            <td><input type="text" class="form-control" name="username" id="username"></td>
        </tr>
        <tr>
            <td><div align="right"><label id="lb_pw">Password:</label></div></td>
            <td><input type="password" class="form-control" name="pw" id="pw"></td>
        </tr>
        <tr>
            <td><div align="right"><label id="lb_pw_confirm">Password Confirm:</label></div></td>
            <td><input type="password" class="form-control" name="pw_confirm" id="pw_confirm"></td>
        </tr>
        <tr>
            <td><div align="right"><label id="lb_email">Email Address:</label></div></td>
            <td><input type="text" class="form-control" name="email" id="email"></td>
        </tr>
        <tr>
            <td><div align="right"><label>Profile Texts:</label></div></td>
            <td>
                <textarea id="pf_text" class="form-control" rows="4" cols="50" ></textarea>
            </td>
        </tr>
            <td><div align="right"><label>Open Profile Texts In Search:</label></div></td>
            <td>
                <input type="checkbox" id="pf_text_open">
                <span style="font-size: small;">* (Recommended) Anything you want to say to other users.
                    Your Profile texts contribute to Natural Language Processing for accurate match results.</span>
            </td>
        <tr>
            <td></td>
            <td> 
                <input id="submit" type="submit" name="submit" />&nbsp<span id="result"></span>
            </td>
        </tr>        
        </div>
    </table>
</div>

{% endblock %}