{% extends 'base_frame.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'page_common.css' %}">

<script>
    $(document).ready(function()
    {
        $("#menu_qc").addClass("menu_select");
        $("#qType").val("{{selectedType}}")
    });
    function selectQuestion() 
    {
        var x = document.getElementById("qType").value;
        window.location.href = "{% url 'main:page_question_submit' %}"+x;  
    }
</script>

<style>
    .textarea_title {
        resize: none;
        width: 90%;
    }
    .choice_field {
        resize: none;
        width: 50%;
    }   

    .bold{
        font-weight: bold;
    }

    .div_bg{
    background-color: rgb(248, 248, 248);
    border-radius: 20px 20px;
    padding: 1%;
    width: 750px;
    }
</style>
{% endblock %}

{% block body_block %}

    
<p>Type Of Question:
<select id="qType" onchange="selectQuestion()">
    <option value="scq">Single Choice Question</option>
    <option value="mcq">Multiple Choice Question</option>
    <option value="tbq">Text-based Question</option>
</select>
<p><h2>{{message}}</h2></p>
<p>
    * A user can submit draft questions. It will be officially registered after having voted from the majority of users.
</p>


<form action="{% url 'main:page_question_submit' %}" method="post">
{% csrf_token %}

{% if selectedType == 'tbq'%}
<div = class="div_bg">
        <p style="font-weight:bold">Q) Text-based Question Title: (Enter your question below)</p>
        <p><textarea name="tbq_text" rows="2" cols="50" class="textarea_title"></textarea></p>
</div><br>
<div = class="div_bg">
        <p style="font-weight:bold">Q) Description: (Optional)</p>
        <p><textarea name="desc" rows="3" cols="50" class="textarea_title"></textarea></p>
</div><br>
    
{% endif %}

{% if selectedType == 'scq' %}
<div class="div_bg">
    <p class="bold"> Q) Single Choice Question: (Enter your question below)</p>
    <p><textarea name="scq_text" rows="2" cols="50" class="textarea_title"></textarea></p>    
</div><br>
<div = class="div_bg">
    <p style="font-weight:bold">Q) Description: (Optional)</p>
    <p><textarea name="desc" rows="3" cols="50" class="textarea_title"></textarea></p>
</div><br>
<div class="div_bg">
    <p class="bold">Add choices for the question:</p>
    {% for i in scq_choice_num %}
        <p>{{ forloop.counter }}:<input class="choice_field" type="text" name="scq_c{{ forloop.counter }}"></p>
    {% endfor %}
</div>
{% endif %}

{% if selectedType == 'mcq'%}
<div = class="div_bg">
    <p class="bold">Q) Multiple Choice Question: (Enter your question below)</p>
    <p><textarea name="mcq_text" id="mcq_text" rows="2" cols="50" class="textarea_title"></textarea></p> 
</div><br>
<div = class="div_bg">
    <p style="font-weight:bold">Q) Description: (Optional)</p>
    <p><textarea name="desc" rows="3" cols="50" class="textarea_title"></textarea></p>
</div><br>
<div = class="div_bg">
<label for="html">Add choices for the question: </label>
{% for i in mcq_choice_num %}
    <p><label>{{ forloop.counter }}: </label>
    <input class="choice_field" type="text" name="mcq_c{{ forloop.counter }}" id="mcq_c{{forloop.counter}}"></p>
{% endfor %}
</div><br>
{% endif %}
<br>
<div class="div_bg">
<p>Categogy:
    <select id="category" name="category">
{% if is_admin %}
        <option value="cc">Common</option>
        <option value="cd">Detail</option>
        <option value="cb">Pychology</option>
        <option value="cu">Registered By Users</option>
{% else %}
        <option value="cu">Registered By Users</option>
{% endif %}
    </select>
</p>



<p>Priority:
<select id="mPri" name="mPri">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
</select>
<span class="q_high">High(1)</span>,<span class='q_medium'>Medium(0.66)</span>,<span class="q_low">Low(0.33)</span><br>
</p>



<p>Type Of Match:
<select id="mType" name="mType">
{% if selectedType == 'scq' or selectedType == 'mcq' %}
    <option value="smt">Similar Answer Match</option>
    <option value="emt">Exact Answer Match</option>
    <option value="xor">XOR Answer Match</option>
{% else %}
    <option value="smt">Similar Answer Match</option>
{% endif %}
</select><br>
<p><img style="height:20px;opacity:0.7" src="{% static 'image/apx.png' %}">
    Similar Answer Match - It calculates similarities by the NLP model over other users' answers. </p>
<p><img style="height:20px;opacity:0.7" src="{% static 'image/equal.png' %}">
    Exact Answer Match - It adds points when other users' answers are in common. </p>
<p><img style="height:20px;opacity:0.7" src="{% static 'image/xor.png' %}">
    XOR Answer Match - It matches only when other users have different answers.</p>
</p>


<input type="submit" name="Create" value="Create Question">
</div>
</form>
{% endblock%}