{% extends 'base_frame.html' %}
{% load main_extras %}

{% block head_block %}

<script>
    $(document).ready(function()
    {
        $("#menu_qmg").addClass("menu_select");
    });
</script>

<script>
    function confirm_delete()
    {
        sel_questions = document.getElementsByClassName('question_items');
        var selcount = 0;
        for(var i = 0;i < sel_questions.length;i++ )
            if(sel_questions[i].checked)
                selcount++;
        document.getElementById('msg_del').innerHTML = '';
        if(selcount > 0)
            return confirm('Do you want to delete the selected questions permanantely?')
        else
        {
            document.getElementById('msg_del').innerHTML = 'Nothing was selected to delete';
            return false;
        }
    }
</script>
{% endblock %}

{% block body_block %}
<h2>Question Delete</h2>
<h3 id="msg_del">{{ msg_delete }}</h3>

{% if questions.count > 0 %}
<form action="{% url 'main:page_question_editor' %}" method="post">
    {% csrf_token %}
    {% for q in questions %}
        <label><input type="checkbox" name="del_{{q.pk}}" class="question_items"> {{ q.title }}</label><br>
    {% endfor %}
    <input type="submit" name="delete" value="Delete" onclick="return confirm_delete()">
</form>
{% else %}
No questions on the list
{% endif %}
<hr>
<h2>Question Update</h2>
{% if questions.count > 0 %}
    <div><u>* Since those questions below have distributed to the participants, setting only additional properties is allowed. </u></div>
    <br>
    <form action="{% url 'main:page_question_editor' %}" method="post">
    {% csrf_token %}
    {% for q in questions %}
        <div>
            <b>Title: {{q.title}}</b><br>
            {% for c in q.choice_set.all %}
                {{forloop.counter}} ) {{c.choice_text}}<br>
            {% endfor %}
            Type: {{q.type}}</b><br>
            Category:
            <select id="cat_{{q.pk}}" name="cat_{{q.pk}}">
                <option value="cc">Common</option>
                <option value="cd">Detail</option>
                <option value="cb">Bevioural</option>
            </select><br>
            {%if q.category == "cu" %} <!-- User Registered -->
                <script>
                    $("#cat_{{q.pk}}").prop('disabled', true)
                </script>
                <span>This question was registered by a user</span>
            {% endif %}
            Priority:
            <select id="mPri_{{q.pk}}" name="mPri_{{q.pk}}">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select><br>
            Type Of Match:
            <select id="mType_{{q.pk}}" name="mType_{{q.pk}}">
                <option value="smt">Similar Answer Match</option>
                <option value="emt">Exact Answer Match</option>
                <option value="xor">XOR Answer Match</option>
            </select>            
            <script>
                document.getElementById("cat_{{q.pk}}").value = "{{q.category}}"
                document.getElementById("mPri_{{q.pk}}").value = "{{q.priority}}"
                document.getElementById("mType_{{q.pk}}").value = "{{q.match_type}}"
            </script>
        </div>    
    {%if msg_dic %}
        <h3 style="color:red" id="msg_update">{{ msg_dic|get_val_in_dict:q.pk }}</h3>
    {% endif %}
    <br>
    {% endfor %}
    
    <input type="submit" name="update_changes" value="Update Changes">
    </form>
    
    
{% else %}
No questions on the list
{% endif %}
{% endblock %}
