{% extends 'base_frame.html' %}

{% block head_block %}
{% load static %}
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script>
function selectQuestion() 
{
  var x = document.getElementById("qType").value;
  window.location.href = "{% url 'main:question_creator' %}"+x;  
}
$(document).ready(function()
{
    $("#qType").val("{{selectedType}}")
});
</script>

{% endblock %}

{% block body_block %}

<p>Type Of Question:
<select id="qType" onchange="selectQuestion()">
    <option value="scq">Single Choice Question</option>
    <option value="mcq">Multiple Choice Question</option>
    <option value="tbq">Text-based Question</option>
</select>
<p><h2>{{message}}</h2></p>

<form action="{% url 'main:question_creator' %}" method="post">
{% csrf_token %}

{% if selectedType == 'tbq'%}
    <p><label for="html">Q) Text-based Question: (Enter your question below)</label></p>
    <p><textarea name="tbq_text" id="tbq_text" rows="4" cols="50"></textarea></p>
    <hr>
{% endif %}

{% if selectedType == 'scq' %}
    <p><label for="html">Q) Single Choice Question: (Enter your question below)</label>
    <p><textarea name="scq_text" id="scq_text" rows="4" cols="50"></textarea></p>
    <label for="html">Add choices for the question: </label>
{% for i in scq_choice_num %}
    <p><label>{{ forloop.counter }}: </label>
    <input type="text" name="scq_c{{ forloop.counter }}" id="scq_c{{forloop.counter}}"></p>
{% endfor %}
{% endif %}

{% if selectedType == 'mcq'%}
<p><label for="html">Q) Multiple Choice Question: (Enter your question below)</label>
<p><textarea name="mcq_text" id="mcq_text" rows="4" cols="50"></textarea></p> 
<label for="html">Add choices for the question: </label>
{% for i in mcq_choice_num %}
    <p><label>{{ forloop.counter }}: </label>
    <input type="text" name="mcq_c{{ forloop.counter }}" id="mcq_c{{forloop.counter}}"></p>
{% endfor %}
{% endif %}

</p>
<p>Priority:
<select id="mPri" name="mPri">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
</select>
</p>

{% if selectedType == 'scq' or selectedType == 'mcq' %}
</p>
<p>Type Of Match:
<select id="mType" name="mType">
    <option value="smt">Similar Answer Match</option>
    <option value="emt">Exact Answer Match</option>
</select>
</p>
<b>Description of Matching Type:</b>
    <div>
    1. "Similar Answer Match" increases probability with the similar answers.<br>
    e.g., A similar answer adds a point(0 ~ 1) by similarity and exact answer add a point 1.<br>
    2. "Exact Answer Match" simply increases probability only with the same answer.</p>
    </div>
{% endif %}



<input type="submit" name="Create" value="Create">
</form>
{% endblock%}